#define IDD_DLG1 100
#define IDC_STC1 101
#define IDC_BTN1 102
#define IDC_STC2 103
#define IDC_STC3 104
#define IDC_STC4 105

#define IDD_DLG2 1000
#define IDC_BTN2 1001
#define IDC_EDT1 1002

IDD_DLG1 DIALOGEX 10,10,206,128
CAPTION " About LookingFor"
FONT 10,"Segoe UI Semibold",600,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER
BEGIN
  CONTROL "IDC_STC",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,4,6,30,26
  CONTROL "OK",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,158,106,36,12
  CONTROL "Text",IDC_STC2,"Static",WS_CHILDWINDOW|WS_VISIBLE,36,10,170,28
  CONTROL "OS_INFO",IDC_STC3,"Static",WS_CHILDWINDOW|WS_VISIBLE,50,42,156,34
  CONTROL "wickedly",IDC_STC4,"Static",WS_CHILDWINDOW|WS_VISIBLE,36,82,170,16
END

IDD_DLG2 DIALOGEX 10,10,207,60
CAPTION " Extension association"
FONT 10,"Segoe UI Semibold",600,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER
BEGIN
  CONTROL "IDC_STC",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,3,9,30,26
  CONTROL "OK",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,150,42,45,12
  CONTROL "Text",IDC_STC2,"Static",WS_CHILDWINDOW|WS_VISIBLE,36,9,159,12
  CONTROL "Cancel",IDC_BTN2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,78,42,54,12
  CONTROL "",IDC_EDT1,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,36,24,159,12,WS_EX_CLIENTEDGE
END

