#define IDD_DLG1 100
#define IDC_STC1 101
#define IDC_BTN1 102
#define IDC_STC2 103
#define IDC_STC3 104
#define IDC_STC4 105
#define IDD_DLG2 1000
#define IDC_BTN2 1001
#define IDC_EDT1 1002
#define IDD_DLG3 1010
#define IDC_RBN1 1002
#define IDC_RBN2 1003
#define IDC_RBN3 1004
#define IDC_RBN4 1005
#define IDC_RBN5 1006
#define IDC_RBN6 1007
#define IDC_STC5 1011
#define IDC_STC6 1012
#define IDC_STC7 1013
#define IDC_STC8 1014
#define IDC_STC9 1015
#define IDC_STC10 1016

IDD_DLG1 DIALOGEX 10,10,206,128
CAPTION " About LookingFor"
FONT 10,"Segoe UI Semibold",600,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU
BEGIN
  CONTROL "IDC_STC",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,4,6,30,26
  CONTROL "OK",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,158,106,36,12
  CONTROL "Text",IDC_STC2,"Static",WS_CHILDWINDOW|WS_VISIBLE,36,10,170,28
  CONTROL "OS_INFO",IDC_STC3,"Static",WS_CHILDWINDOW|WS_VISIBLE,50,42,156,34
  CONTROL "wickedly",IDC_STC4,"Static",WS_CHILDWINDOW|WS_VISIBLE,36,82,170,16
END

IDD_DLG2 DIALOGEX 10,10,207,60
CAPTION " Extension association"
FONT 10,"Segoe UI Semibold",600,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU
BEGIN
  CONTROL "IDC_STC",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,3,9,30,26
  CONTROL "OK",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,150,42,45,12
  CONTROL "Text",IDC_STC2,"Static",WS_CHILDWINDOW|WS_VISIBLE,36,9,159,12
  CONTROL "Cancel",IDC_BTN2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,78,42,54,12
  CONTROL "",IDC_EDT1,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,36,24,159,12,WS_EX_CLIENTEDGE
END

IDD_DLG3 DIALOGEX 10,10,159,102
CAPTION "LookingFor targets options"
FONT 10,"Segoe UI Semibold",600,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU
BEGIN
  CONTROL "IDC_STC",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_CENTERIMAGE|SS_ICON,3,9,30,26
  CONTROL "OK",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,96,84,45,12
  CONTROL "Sort targets:",IDC_STC2,"Static",WS_CHILDWINDOW|WS_VISIBLE,36,9,159,12
  CONTROL "Cancel",IDC_BTN2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,21,84,54,12
  CONTROL "",IDC_RBN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,54,24,9,9
  CONTROL "",IDC_RBN2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,54,33,9,9
  CONTROL "",IDC_RBN3,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,54,42,9,9
  CONTROL "",IDC_RBN4,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,54,51,9,9
  CONTROL "",IDC_RBN5,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,54,60,9,9
  CONTROL "",IDC_RBN6,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,54,69,9,9
  CONTROL "newest first",IDC_STC5,"Static",WS_CHILDWINDOW|WS_VISIBLE,63,24,132,9
  CONTROL "oldest first",IDC_STC6,"Static",WS_CHILDWINDOW|WS_VISIBLE,63,33,132,9
  CONTROL "character ascendent",IDC_STC7,"Static",WS_CHILDWINDOW|WS_VISIBLE,63,42,132,9
  CONTROL "character descendent",IDC_STC8,"Static",WS_CHILDWINDOW|WS_VISIBLE,63,51,132,9
  CONTROL "more retrieved first",IDC_STC9,"Static",WS_CHILDWINDOW|WS_VISIBLE,63,60,132,9
  CONTROL "less retrieved first",IDC_STC10,"Static",WS_CHILDWINDOW|WS_VISIBLE,63,69,132,9
END

